
<br>
<div class="backbox"></div>
<h2 id="recents" class="headline">Recent Releases From Your Artists</h2>
<ul class= "recentalbums" id='recentalbums'></ul>
<h2 class="headline">Concerts</h2>
<ul class="concerts" id='concerts'></ul>
<form>
  <input class="input" id="bandName" type="text" placeholder="Follow New Artist!">
  <button class="button" id="submit" type="submit">Add!</button>
</form> 
<h2 class="headline">Your Saved Artists</h2>
<ul class="bandlist" id='bands'></ul> 

<h2 class="headline" id='albumheader'>New Artist's Albums</h2>

<ul class="bandlist" id='albums'></ul>

