

<h1>User Profile/Following Artists Page</h1>
<br>
<h2>Recent Releases of Saved Artists</h2>
<ul id='recentalbums'></ul>
<h2>Concerts</h2>
<ul id='concerts'></ul>
<form>
  <h2>Add A New Artist</h2>
  <input id="bandName" type="text" placeholder="Follow New Artist!">
  <button id="submit" type="submit">Submit</button>
</form> 
<h2>Your Saved Artists</h2>
<ul id='bands'></ul> 
<h2 id='albumheader'>New Artist's Albums</h2>
<ul id='albums'></ul>

