Band Index Page

<h1></h1>

<form>
  <input id="bandName" type="text" placeholder="Add Band!">
  <button id="submit" type="submit">Submit</button>
</form> 
<ul id='bands'></ul> 
<ul id='albums'></ul>


<%# @body["results"].each do |i| %>
  <%#= i["collectionName"] %></br>
  <%# end %>

