<div class="master">
	
	<div class="backbox1"></div>
	<form>
	  <input class="bandinput" id="bandName" type="text" placeholder="Follow New Artist">
	  <button class="button" id="submit" type="submit">Add</button>
	</form>

	<div class="existingresults">
	<h2 class="headline">New Releases</h2>

	<ul class= "recentalbums" id='recentalbums'></ul>
	</div>
	<h2 class="headline">Concerts</h2>

	<ul class="concerts" id='concerts'></ul>
	
	<h2 class="headline">Your Saved Artists</h2>
	
	<div class="bandlist">
		<ul id='bands'></ul>
	</div>
	
	<h2 class="headline" id='albumheader'>New Artist's Albums</h2>
	
	<div class="albumlist">
		<ul id='albums'></ul>
	</div>
</div>
