<div class="master">
	
	<div class="backbox1"></div>
	<form>
	  <input class="bandinput" id="bandName" type="text" placeholder="Follow New Artist">
	  <button class="button" id="submit" type="submit">Add</button>
	</form>

	<div class="newreleasebox">
		<h2 class="headline1">New Releases</h2>
		<ul class= "recentalbums" id='recentalbums'></ul>
	</div>

	<div class="concertsbox">
		<h2 class="headline1">Upcoming Concerts</h2>
		<ul class="concerts" id='concerts'></ul>
	</div>
	
	<div class="savedartists">
		<h2 class="headline1">Your Saved Artists</h2>
	
		<div class="bandlist">
			<ul id='bands'></ul>
		</div>
	</div>
	
	<div class="albumbox">
		<h2 class="headline1" id='albumheader'>New Artist's Albums</h2>
		<div class="albumlist">
			<ul id='albums'></ul>
		</div>
	</div>
</div>
<br>
<br>
<center><div id="map-canvas"></div></center>




