/*font-family: 'Signika', sans-serif;*/

#header {
	position: relative;
	background-color: #BDBDBD;
	margin: -.5em;
	top: -1em;
	height: 3em;
}

.header_links a {
	font-family: 'Signika', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: .5em;
}

#header li {
	font-family: 'Signika', sans-serif;
	list-style-image: none;
	list-style-type: none;
	float: right;
	padding: .9em;
	background-color: #e74c3c;
	border-radius: .5em;
	margin: .3em .3em 3em .3em;
	height: .8em;
}

#logo a {
	position: relative;
	font-family: 'Amatic SC', cursive;
	text-align: left;
	color: #000000;
	top: .2em;
	padding-left: 3%;
}

.devise {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: #000000;
	line-height: 1.5;
	font-size: 2em;
}

.devise a {
	color: #7f8c8d;
	text-decoration: none;
}

.headline {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.5;
	font-size: 2em;
	position: relatives;
}

body {
	background: url("rock_concert2.jpg") no-repeat center center fixed;
}

#bandName {
	font-family: 'Signika', sans-serif;
	font-size: 1.2em;
	text-align: center;
	width: 30%;
	border-radius: .3em;
	border: none;
	position: fixed;
	left: 35%;
	top: 40%;
}

#submit {
	position: fixed;
	right: 45%;
	top: 45%;
	font-family: 'Signika', sans-serif;
	font-size: 1em;
	height: 2em;
	width: 6em;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	margin: 1% 0 0 0;
	border-radius: .4em;
/*	display: none;*/
}

.backbox {
	position:fixed;
	width: 60%;
	height: 80%;
	top: 10%;
	left: 20%;
	background-color: #BDBDBD;
	z-index: -1;
	border-radius: 1em;
}

img {
	float: right;
	clear: both;
}